<nav class="ssn-nav" data-code="{{ navigation.code }}">
    {{ _self.render_node(graph) }}
</nav>

{% macro render_node(node) %}
    {# @var node \Setono\SyliusNavigationPlugin\Graph\Node #}
    {% if node.children is not empty %}
        <ul>
            {% for child in node.children %}
                <li class="level-{{ child.depth }}">
                    {{ ssn_item(child.item) }}
                    {{ _self.render_node(child) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
