<nav class="ssn-nav" data-code="{{ navigation.code }}">
    {{ _self.render_children(graph) }}
</nav>

{% macro render_children(graph) %}
    {# @var graph \Setono\SyliusNavigationPlugin\Graph\Node|list<\Setono\SyliusNavigationPlugin\Graph\Node> #}
    {% if graph|length > 0 %}
        <ul>
            {% for node in graph %}
                <li class="level-{{ node.depth }}">
                    {{ ssn_item(node.item) }}
                    {{ _self.render_children(node) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
